{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adote</title>
    <link href="{% static 'usuarios/css/index.css' %}" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container-logo">
            <div class="logo-imagem"></div>
            <div class="logo-texto">
                <h1>LOGOTIPO</h1>
            </div>
        </div><!-- container-logo -->
    
        <div class="menu">
            <li><a href="#">Sobre</a></li>
            <li><a href="#">loja</a></li>
            <li><a href="#">cont</a></li>
        </div><!-- menu -->
    </header>

    <h1>background-color: #391D34</h1>

</body>
</html>